<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Rest Assured testing">

  <test name="Rest Assured testing Test">
    <classes>
       <class name="com.debarnab.restAssured.Testing.restAPITesting" />
    </classes>
  </test>
  
  <!-- <test name="exampletest2">
    <classes>
       <class name="Test2" />
    </classes>
  </test> -->
  
</suite> 